body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn + strong {
  color: #fff;
}

p:not(.no-highlight) { background-color: #719e07; }

input:not(:checked) { background-color: #719e07; }

[rel="external"] { background-color: #2694d8; }

[data-state="visible"] { background-color: #2694d8; }

p:first-child { color: #719e07; }

ol li:first-child { color: #719e07; }

.person:first-child { color: #719e07; }

ol li:last-child { color: #2694d8; }

p:last-child { color: #2694d8; }

.item:last-child { color: #2694d8; }

li:nth-child(2) { background-color: #657ba3; }

tr:nth-child(odd) { background-color: #657ba3; }

tr:nth-child(even) { background-color: #586e75; }

div:nth-child(5n) { background-color: #657ba3; }

/* Third <li> element in its parent */
li:nth-of-type(3) {
  background-color: #d04b16;
}
